# Top level file and folders to ignore
/.github
/.vscode
/docker
/htmlcov
/Justfile
/target

# Ignore Markdown files
**/*.md

# Ignore coverage code
**/.cov
lcov.info

# Ignore environment variables
.env
