# GitHub secret used to sign webhook events
BOT_GITHUB_SECRET=
# GitHub API Token
BOT_GITHUB_API_TOKEN=
# Disable webhook signature verification
BOT_DISABLE_SIGNATURE_VERIFICATION=
# Disable welcome comments
BOT_DISABLE_WELCOME_COMMENTS=
# API debug mode
BOT_API_DEBUG_MODE=
# Database URL
DATABASE_URL=postgresql://user:pass@host:port/db
TEST_DATABASE_URL=postgresql://user:pass@host:port/test-db